<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>myweb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ResTest</display-name>
    <servlet-name>ResTest</servlet-name>
    <servlet-class>com.igeekhome.test.ResTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResTest</servlet-name>
    <url-pattern>/ResTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommTest</display-name>
    <servlet-name>CommTest</servlet-name>
    <servlet-class>com.igeekhome.test.CommTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommTest</servlet-name>
    <url-pattern>/CommTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReturnComm</display-name>
    <servlet-name>ReturnComm</servlet-name>
    <servlet-class>com.igeekhome.test.ReturnComm</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReturnComm</servlet-name>
    <url-pattern>/ReturnComm</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Research</display-name>
    <servlet-name>Research</servlet-name>
    <servlet-class>com.igeekhome.test.Research</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Research</servlet-name>
    <url-pattern>/Research</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdviceClass</display-name>
    <servlet-name>AdviceClass</servlet-name>
    <servlet-class>com.advise.AdviceClass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdviceClass</servlet-name>
    <url-pattern>/AdviceClass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SchActive</display-name>
    <servlet-name>SchActive</servlet-name>
    <servlet-class>com.igeekhome.test.SchActive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SchActive</servlet-name>
    <url-pattern>/SchActive</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test</display-name>
    <servlet-name>test</servlet-name>
    <servlet-class>com.igeekhome.test.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>test2</display-name>
    <servlet-name>test2</servlet-name>
    <servlet-class>com.igeekhome.test.test2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test2</servlet-name>
    <url-pattern>/test2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InvActive</display-name>
    <servlet-name>InvActive</servlet-name>
    <servlet-class>com.igeekhome.test.InvActive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InvActive</servlet-name>
    <url-pattern>/InvActive</url-pattern>
  </servlet-mapping>
</web-app>